<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>name</td>
            {% for stu in student %}
            <td>{{ stu }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>scores</td>
            {% for sc in score %}
            <td>{{ sc }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>level</td>
            {% for sc in score %}
                {% if sc > 80 %}
                    <td>A</td>
                {% else %}
                    <td>B</td>
                {% endif %}
            {% endfor %}
        </tr>

    </table>
</body>
</html>